
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Sen', sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.header {
    width: 100%;
    background: rgba(35, 37, 54, 1);
    color: #fff;
}

.nav {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
}

.ul-list a {
    color: #fff;
}

.ul-list ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.ul-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.nav-btn button {
    width: 179px;
    height: 56px;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid #fff;
    transition: all .2s ease-in-out;
}

.nav-btn button:hover {
    background-color: black;
    color: white;
}

h1, h2 {
    font-family: 'Sen', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
}